:root{
    /* Variaveis principais */
    --backgroundPrincipal-color: #00082E;
    --backgroundHeader-color:    #03071b;
    --backgroundSidebar-color:   #1a3199;
    --corParaTextos-color:       #fff;
    --hoverParaTexto-color:      #5271FF;
    --hoverParaIcone-color:      #2CE8F5;

    /* Variaveis secundarias */
    --metaverde-color:    #C1FF72;
    --metavermelho-color: #FF3131;
    --comentario-color:   #260668;
    --gradientButton-color:  linear-gradient(90deg, #000000, #3533CD);
    --gradientyoutube-color: linear-gradient(135deg, #ff0000, #ffffff);
}

*{
    margin: 0;
    padding: 0;
}

/* Estilização Principal */
body{
    background-color: var(--backgroundPrincipal-color);
    font-size: 1.5rem;
    color: var(--corParaTextos-color);
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
}

/* Estilização do Header */
header{
    background-color: var(--backgroundHeader-color);
    box-shadow: 1px 1px 4px var(--corParaTextos-color);
    width: 100vw;
    height: 6dvh;
    position: fixed;
    display: flex;
    flex-wrap: wrap;
    z-index: 1;
}

header > svg.lista{
    display: none;
}

header > figure.logo{
    width: 5rem
}

header > figure.logo > img{
    width: 5rem;
}

header > nav{
    position: absolute;
    top: 1.2rem;
    left: 5rem;
}

header > nav > a{
    color: var(--corParaTextos-color);
    font-size: 1rem;
    text-decoration: none;
    cursor: pointer;
    position: relative;
    bottom: .5rem;
}

.clicado{
    color: var(--hoverParaTexto-color);
}

header > figure.user{
    width: 5rem;
}

header > figure.user > img{
    width: 5rem;
    position: absolute;
    right: .5rem;
}

/* Estilização da Sidebar */
nav.sidebar{
    width: 80px;
    height: 100%;
    background-color: var(--backgroundSidebar-color);
    padding: 40px 0 40px 1%;
    box-shadow: 3px 0 0 var(--hoverParaIcone-color);
    position: fixed;
    top: 3.6rem;
    left: 0;
    overflow: hidden;
    transition: .3s;
    z-index: 1;
}

nav.sidebar:hover{
    width: 300px;
}

nav.sidebar > div.btn-expandir{
    width: 20%;
    padding-left: 10px;
}

nav.sidebar > div.btn-expandir > svg{
    color: var(--corParaTextos-color);
    width: 2.5rem;
    cursor: pointer;
}

nav.sidebar > ul{
    height: 100%;
    list-style-type: none;
}

nav.sidebar > ul > li.item-menu{
    transition: .5s ease-in-out;
}

nav.sidebar > ul > li.item-menu:hover{
    background-color: var(--hoverParaIcone-color);
}

nav.sidebar > ul > li.item-menu > a{
    color: var(--corParaTextos-color);
    text-decoration: none;
    font-size: 20px;
    padding: 20px 4%;
    display: flex;
    margin-bottom: 20px;
    line-height: 50px;
}

nav.sidebar > ul > li.item-menu > a > span.icon > svg{
    width: 3rem;
    margin-left: 1rem;
}

nav.sidebar > ul > li.item-menu > a > span.txt-link{
    margin-left: 40px;
}

/* Estilizando o Main */
main{
    width: 100vw;
    height: 190vh;
    position: relative;
    top: 4rem;
    z-index: 0;
}

.anchor{
    display: block;
    position: relative;
    top: -6dvh;
    visibility: hidden;
}

main > p{
    margin: 0 7rem;
}

main > figure > img{
    border-radius: 1rem;
    border: var(--corParaTextos-color) .2rem solid;
    margin: 1rem 0;
}

main > figure > img.logo2{
    display: none;
}

main > p.p-meta{
    color: var(--hoverParaTexto-color);
}

main > div.div-meta{
    margin: 1rem auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

main > div.div-meta > ol > li{
    text-align: left;
}

.meta-conseguida{
    color: var(--metaverde-color);
}

.meta-chegada{
    color: var(--hoverParaTexto-color);
}

.meta-a-chegar{
    color: var(--metavermelho-color);
}

main > label{
    color: var(--hoverParaTexto-color);
    display: block;
    margin: 1rem 0 0 0;
}

main > input#commentary{
    width: 30rem;
    height: 2rem;
    background-color: var(--backgroundSidebar-color);
    border: none;
    border-radius: .7rem;
    color: var(--corParaTextos-color);
    padding-left: 1rem;
    margin-right: 1rem;
    transition: .4s ease-in-out;
}

main > input#commentary:focus{
    outline: none;
    background-color: var(--backgroundHeader-color);
    border: var(--corParaTextos-color) .1rem solid;
}

main > input#commentary:hover{
    background-color: var(--backgroundHeader-color);
    border: var(--corParaTextos-color) .1rem solid;
}

main > button{
    width: 6rem;
    height: 2rem;
    background: var(--gradientButton-color);
    color: var(--corParaTextos-color);
    border: none;
    border-radius: .5rem;
    transition: .6s ease-in-out;
}

main > button:hover{
    width: 8rem;
    height: 3rem;
}

main > div.div-commentary{
    width: 80%;
    max-width: 45rem;
    height: 20rem;
    border: var(--backgroundHeader-color) .8rem solid;
    border-radius: 2rem;
    background-color: var(--comentario-color);
    margin: 1rem auto;
    padding: 1rem 0;
    text-align: left;
    box-sizing: border-box;
}

main > div.div-vota{
    width: 80%;
    max-width: 40rem;
    margin: 1rem auto;
    padding: 1rem 0;
    background-color: var(--comentario-color);
    border: var(--backgroundHeader-color) .8rem solid;
    box-sizing: border-box;
}

main > div.div-vota > h3{
    color: var(--hoverParaTexto-color);
}

main > div.div-vota > p{
    margin-top: 1rem;
    text-align: left;
}

main > div.div-vota > p > input{
    margin: 1rem;
} 

main > p.p-youtube{
    display: flex;
    align-items: center;
    justify-content: center;
}

main > p.p-youtube > a{
    color: var(--corParaTextos-color);
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 3rem;
    width: 20rem;
}

main > p.p-youtube > a > span{
    transition: color .3s ease-in-out;
}

main > p.p-youtube > a > svg{
    width: 3rem;
    margin-right: 1rem;
    transition: color .3s ease-in-out;
}

main > p.p-youtube > a:hover > span{
    background: var(--gradientyoutube-color);
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
}

main > p.p-youtube > a:hover > svg{
    color: red;
}

main > div.div-nav{
    position: fixed;
    top: calc(100vh - 75%); /* Ajuste conforme necessário */
    left: calc(100vw - 0%); /* Ajuste conforme necessário */
    z-index: 1;
}

main > div.div-nav > svg{
    width: 2rem;
    position: absolute;
    top: 2.5rem;
    right: 12.5rem;
    cursor: pointer;
}

main > div.div-nav > nav{
    background-color: var(--backgroundHeader-color);
    width: 11rem;
    height: 9rem;
    position: absolute;
    right: 1rem;
    box-shadow: 1px 2px 6px var(--corParaTextos-color);
}

main > div.div-nav > nav > div{
    display: block;
    justify-content: center;
    align-items: center;
    margin-top: .9rem;
}

main > div.div-nav > nav > div > a{
    color: var(--corParaTextos-color);
    text-decoration: none;
    transition: .3s ease-in-out;
}

main > div.div-nav > nav > div > a:hover{
    color: var(--hoverParaTexto-color);
}

/* Estilização do Footer */
footer{
    background-color: var(--backgroundHeader-color);
    box-shadow: 0rem -.3rem .4rem var(--corParaTextos-color);
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 0;
    padding: 3.5rem;
}

footer > p.redes{
    position: relative;
    bottom: 4.3rem;
    right: 7.4rem;
}

footer > hr.sociais{
    position: relative;
    bottom: 3.5rem;
    right: 17rem;
    width: 8%;
}

footer > div.share{
    display: none;
}

footer > a{
    color: var(--corParaTextos-color);
    text-decoration: none;
    font-size: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: .5rem;
}

footer > a > svg{
    width: 2rem;
    margin-right: .5rem;
}

footer > a > span{
    position: relative;
    top: .3rem;
}

footer > a.yt, footer > a.dc, footer > a.it, footer > a.ttk, footer > a.tw {
    position: relative; /* Remove o posicionamento absoluto para ajuste automático com flexbox */
}

footer > a.yt{
    top: -2rem;
    left: -40rem;
    transition: .2s ease-in-out;
}

footer > a.yt:hover{
    color: var(--metavermelho-color);
}

footer > a.dc{
    top: 1rem;
    left: -54rem;
    transition: .2s ease-in-out;
}

footer > a.dc:hover{
    color: var(--hoverParaTexto-color);
}

footer > a.it{
    top: -2rem;
    left: -51rem;
}

footer > a.it > span{
    -webkit-background-clip: text;
    background-clip: text;
    transition: background 0.3s ease;
}

footer > a.it:hover > span{
    background: linear-gradient(45deg, #f9ce34, #ee2a7b, #6228d7);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
}

.insta{
    fill: currentColor;
    transition:.3s ease-in-out;
}

footer > a.it:hover .insta{
    fill: url(#instagram);
}

footer > a.ttk{
    top: 1rem;
    left: -61.5rem;
}

footer > a.ttk > span{
    -webkit-background-clip: text;
    background-clip: text;
    transition: 0.3s ease;
}

footer > a.ttk:hover > span{
    background: linear-gradient(45deg, #00f2ea, #ff0050);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
}

.tiktok{
    fill: currentColor;
    transition: fill .3s ease-in-out;
}

footer > a.ttk:hover .tiktok{
    fill: url(#tik);
}

footer > a.tw{
    top: -0rem;
    left: -60rem;
    transition: .2s ease-in-out;
}

footer > a.tw:hover{
    color: rgb(131, 18, 131);
}

.separar{
    position: absolute;
    transform: rotate(-45deg);
    top: calc(0rem + 9vh);
    left: calc(0rem + 33vw);
    width: calc(11rem + 0vw);
}

footer > p.dev{
    position: absolute;
    top: 0;
}

footer > hr.dev-linha{
    position: absolute;
    top: calc(0rem + 2.5vh);
    left: calc(0rem + 43vw);
    width: calc(16.5rem + 0vw);
}

footer > p.dev-icon{
    position: absolute;
    top: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer > p.dev-icon > svg{
    width: 2rem;
    margin-right: .5rem;
}

.separar-2{
    position: absolute;
    transform: rotate(-45deg);
    top: calc(0rem + 9vh);
    left: calc(0rem + 55vw);
    width: calc(11rem + 0vw);
}

footer > p.data{
    position: absolute;
    top: 2rem;
    right: 17rem;
}

footer > p.atual{
    position: absolute;
    top: 4rem;
    right: 19.6rem;
}

footer > p.emblema{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    position: absolute;
    top: 7.2rem;
    right: 1.5rem;
    font-size: 1rem;
    line-height: 2rem;
}

footer > p.emblema > svg{
    width: 2rem;
    margin-right: .5rem;
}
